In [1]:
# import sys
# import os
# Save the acs.py file in the same directory where this Rmd or ipynb file is being run.
# The following lines will add the current directory into the path
# so that it can search the py file in the directory when we try to import
# wd = os.getcwd()
# sys.path.append(wd)

# acs will also import pandas, numpy, re, and requests modules
import MarkeyDataTools as mdt

# this reload function is just to reload the acs module as I periodically edit and test the module.
from importlib import reload

## Introduction

As a test, I am creating a module that call up a dataset; and as an example I will show you how the functions in the acs.py can work out to execute the same tasks that were done in `acs_computer_broadband` in the Data/ACS folder.

There were five tables imported separately, but using acs, you can import the variables in one table.   
To do so, you need to set values for the following variables:   
* year
* tablename (in a list)
   - For example, if you want to lookup "B28005"(all_ind), "B28009A"(white), "B28009H"(white_nh), "B28009B"(black), "B28009I"(hisp), set the value for source as \["B28005", "B28009A", "B28009H", "B28009B", "B28009I" \]
* source (the subgroup of acs datagroup)
   - In this example, it will be acs1 as ``acs1`` is the annual data.
   - Many counties are missing in the acs1 as this is annual; you can find others in the ``acs5``, which is conducted every 5 years.
* state: the default value is 'KY', so you don't need to worry about it.

In [2]:
year = 2019
table =  ["B28005", "B28009A", "B28009H", "B28009B", "B28009I" ]
source = 'acs5'

## Part I. importing the module and calling the acs class

Above, we alreay imported the MarkeyDataTool module by executing `import MarkeyDataTool as mdt`. Now, let's call the `acs` class   
To call the `acs` class, you need year, table and source at the very least.   
You can also set the region arguement, whose default level is "**county**".

In [3]:
acs = mdt.acs(year = year, table = table, source = 'acs5')

As another example, let's call the acs class with the region argument **"tract"**

In [4]:
acs_tract = mdt.acs(year = year, table = table, source = 'acs5', region = 'tract')

When you just do this, the most important attribute you might want to take a look at is the variable table.   
The name of the attribute is `variable_table`. This contains every variables name in the entire acs5 data.   
Obviously, the table names are contained in the variable table, but they have extensions such as 001_E, 002_E, etc.

In [5]:
acs.variable_table.head()

,name,label,concept
0,for,Census API FIPS 'for' clause,Census API Geography Specification
1,in,Census API FIPS 'in' clause,Census API Geography Specification
2,ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification
3,B24022_060E,Estimate!!Total:!!Female:!!Service occupations:!!Food preparation and serving related occupations,"SEX BY OCCUPATION AND MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) FOR THE FULL-TIME, YEAR-ROUND CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER"
4,B19001B_014E,"Estimate!!Total:!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER)

You don't need to check `acs_tract.variable_table` because you will get the same table as long as having the same value for the **source** argument

### Part II. Pulling the acs date

Using the attribute function, **`gen_dataframe()`**, you will get the data you wanted.     
This will be stored in the object `acs`, so you can use other functions to tidy and wrangle data for your needs.

In [6]:
acs.gen_dataframe().head()

,FIPS,County,State,B28005_012E,B28005_011E,B28005_010E,B28005_016E,B28005_015E,B28005_014E,B28005_013E,...,B28009B_005E,B28009B_001E,B28009B_002E,B28009B_006E,B28009I_002E,B28009I_001E,B28009I_004E,B28009I_003E,B28009I_006E,B28009I_005E
0,21079,Garrard County,Kentucky,724,8931,149,16,2191,3021,577,...,87,321,255,66,222,387,118,0,165,104
1,21037,Campbell County,Kentucky,4114,49138,823,123,10573,13480,2137,...,653,2416,2243,173,1776,1866,1468,0,90,308
2,21063,Elliott County,Kentucky,130,2734,0,0,730,1330,396,...,0,0,0,0,6,23,6,0,17,0
3,21123,Larue County,Kentucky,1225,6658,13,4,1623,2309,538,...,0,478,350,128,351,449,74,0,98,277
4,21167,Mercer County,Kentucky,998,10650,0,13,2680,3864,1154,...,51,905,583,322,636,636,619,0,0,17

As you see, you have the county names and their FIPS numbers in the first columns.   
Now, let's see how it looks like when the geographical level is at **'tract'**

In [7]:
acs_tract.gen_dataframe().head()

,FIPS,Tract,County,State,B28005_012E,B28005_011E,B28005_010E,B28005_016E,B28005_015E,B28005_014E,...,B28009B_005E,B28009B_001E,B28009B_002E,B28009B_006E,B28009I_002E,B28009I_001E,B28009I_004E,B28009I_003E,B28009I_006E,B28009I_005E
0,21005950201,Census Tract 9502.01,Anderson County,Kentucky,459,2583,0,0,584,896,...,0,356,312,44,0,0,0,0,0,0
1,21005950202,Census Tract 9502.02,Anderson County,Kentucky,187,2052,0,15,379,572,...,0,0,0,0,149,149,80,0,0,69
2,21013961100,Census Tract 9611,Bell County,Kentucky,83,1430,0,0,212,446,...,0,0,0,0,0,0,0,0,0,0
3,21015070311,Census Tract 703.11,Boone County,Kentucky,17,1464,7,15,323,452,...,0,165,165,0,35,35,35,0,0,0
4,21015070312,Census Tract 703.12,Boone County,Kentucky,118,1733,0,16,296,598,...,187,240,240,0,92,92,92,0,0,0

## Part III. Defining a variable by grouping variables (Transformation)

<font color = red size = 6> <b> <center> To be continued </center> </b>   </font>

## Part IV. Searching the tables and variables

To search a varialbe by keyword, you can use `search` attribute. If you have already used the function `gen_dataframe`, you do not need additional arguments. If you did not, you would need to give an integer for the year value.   
Also, if you want to save the search result as a file, then the argument for `savefile`, whose default value is *False*, should now be *`True`* and you should give a `filename`. If you forgot the filename, don't worry, it will ask you once again.

In [8]:
acs.search('poverty,heath', savefile = True)

Please enter the filename:  test.csv

In the example above, comma (`,`) indicates **OR** operator. Therefore, you are searching the cases where description contains words proverty or health. I might improve the serach engine by including various seach opearators like **AND**, but for now, **OR** is the only option. However, if you know `regex`, you can also use the `search` function with the regex. Below is the example.

In [9]:
import re
pattern = re.compile('(?=health insurance)(?=.*sex)(?=.*age)', flags = re.I)
acs.search(pattern)

,index,name,description,source
0,106,B27022,HEALTH INSURANCE COVERAGE STATUS BY SEX BY ENROLLMENT STATUS FOR YOUNG ADULTS AGED 19 TO 25,acs5
1,335,B27001,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,acs5

In this example, I searched cases where description contains words `health insurance`, `sex`, and `age`. **`flags = re.I`** lets this search engine to ignore the case of the letters. For more information on regex and its operations, please visit [regex tutorial](https://www.w3schools.com/python/python_regex.asp)

## Part V. Automate periodical updates